@charset "UTF-8";

.wrapper {
    display: block;
}

.kadai02 {
    width: 800px;
}

.kadai03 {
    width: 100%;
}

.header {
    background-color: #f7c3bf;
}

.contents {
    background-color: #8ac8cf;
}

.footer {
    background-color: #efebe0;
}